Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
requests==2.31.0
beautifulsoup4==4.12.2
pandas==2.1.4
openpyxl==3.1.2
python-dotenv==1.0.0
lxml==4.9.3
feedparser==6.0.10
beautifulsoup4
feedparser
Flask
Flask-Migrate
Flask-SQLAlchemy
lxml
openpyxl
pandas
python-dotenv
requests